<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue 3 Basics</title>
    <style>
      .box {
        background-color: purple;
        height: 200px;
        width: 200px;
      }
      .box.two {
        background-color: red;
      }
      .box.three {
        background-color: blue;
      }
      [v-cloak] {
        display: none;
      }
      input {
        margin: 10px;
        display: block;
      }
    </style>
  </head>
  <body>
    <!-- v-cloak this is for hiding the data that is visible at the time of loading or to load changes  -->
    <div id="app" v-cloak>
      <!-- now components  -->
      <login-form />

      <!-- this is also event listener event  -->
      <!-- <input @keyup.enter="greet" v-model="greeting" /> -->
      <!-- now passing some parameters with function  -->
      <!-- here enter is a modifier -->
      <input @keyup.enter="greet(greeting + '!!!!!!')" v-model="greeting" />
      <hr />

      <!-- events listining -->
      <!-- v-on is for events  -->
      <!-- <button v-on:click="isVisible = !isVisible">Toggle Box</button> -->
      <!-- short hand of the above event  -->
      <!-- <button @click="isVisible = !isVisible">Toggle Box</button> -->
      <!-- Now toggling using method -->
      <button @click="toggleBox">Toggle Box</button>

      <!-- if is like condition but show will play with visibility  -->
      <div v-if="isVisible" class="box">1</div>
      <!-- <div v-else-if="isVisible2" class="box two">2</div> -->
      <!-- <div v-else class="box three">3</div> -->
      <!-- <div v-show="isVisible" class="box"></div> -->
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      let app = Vue.createApp({
        data: function () {
          return {
            greeting: "Hello Vue 3!",
            isVisible: false,
          };
        },
        methods: {
          toggleBox() {
            this.isVisible = !this.isVisible;
          },
          greet(greeting) {
            console.log(greeting);
          },
        },
      });

      app.component("login-form", {
        template: `
        <form @submit.prevent="handleSubmit">
            <h1>{{ title }}</h1>
            <input type="email" v-model = "email"/>
            <input type="password" v-model = 'password' />
            <button>Login</button>
        </form>
        `,
        data() {
          return {
            title: "Login Form",
            email: "",
            password: "",
          };
        },
        methods: {
          handleSubmit() {
            console.log(this.email, this.password);
          },
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
