<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue 3 Basics</title>
    <style>
      .box {
        background-color: purple;
        height: 200px;
        width: 200px;
      }
      .box.two {
        background-color: red;
      }
      .box.three {
        background-color: blue;
      }
      [v-cloak] {
        display: none;
      }
      input {
        margin: 10px;
        display: block;
      }
    </style>
  </head>
  <body>
    <!-- v-cloak this is for hiding the data that is visible at the time of loading or to load changes  -->
    <div id="app" v-cloak>
      <!-- now components  -->
      <!-- <login-form /> -->

      <!-- this is also event listener event  -->
      <!-- <input @keyup.enter="greet" v-model="greeting" /> -->
      <!-- now passing some parameters with function  -->
      <!-- here enter is a modifier -->
      <input @keyup.enter="greet(greeting + '!!!!!!')" v-model="greeting" />
      <hr />

      <!-- events listining -->
      <!-- v-on is for events  -->
      <!-- <button v-on:click="isVisible = !isVisible">Toggle Box</button> -->
      <!-- short hand of the above event  -->
      <!-- <button @click="isVisible = !isVisible">Toggle Box</button> -->
      <!-- Now toggling using method -->
      <button @click="toggleBox">Toggle Box</button>

      <!-- if is like condition but show will play with visibility  -->
      <test-box v-if="isVisible"></test-box>
      <!-- <div v-else-if="isVisible2" class="box two">2</div> -->
      <!-- <div v-else class="box three">3</div> -->
      <!-- <div v-show="isVisible" class="box"></div> -->
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      let app = Vue.createApp({
        data: function () {
          return {
            greeting: "Hello Vue 3!",
            isVisible: false,
          };
        },
        methods: {
          toggleBox() {
            this.isVisible = !this.isVisible;
          },
          greet(greeting) {
            console.log(greeting);
          },
        },
        updated() {
          console.log("Component is updated");
        },
      });

      app.component("test-box", {
        template: `
        <div class = "box"></div>
        `,
        created() {
          console.log("Component created");
        },
        mounted() {
          console.log("Component is mounted");
        },
        unmounted() {
          console.log("Component is unmounted");
        },
      });

      //   app.component("login-form", {
      //     template: `
      //     <form @submit.prevent="handleSubmit">
      //         <h1>{{ title }}</h1>

      //         <custom-input
      //         v-for="(input , i) in inputs"
      //          v-model="input.value"
      //           v-bind:label='input.label'
      //           :key="i"
      //           :type='input.type'
      //         />
      //         <button>Login</button>
      //     </form>
      //     `,
      //     components: ["custom-input"],
      //     data() {
      //       return {
      //         title: "Login Form",
      //         inputs: [
      //           {
      //             label: "Name",
      //             value: "",
      //             type: "text",
      //           },
      //           {
      //             label: "Email",
      //             value: "",
      //             type: "email",
      //           },
      //           {
      //             label: "Password",
      //             value: "",
      //             type: "password",
      //           },
      //         ],
      //       };
      //     },
      //     methods: {
      //       handleSubmit() {
      //         console.log(
      //           this.inputs[0].value,
      //           this.inputs[1].value,
      //           this.inputs[2].value
      //         );
      //       },
      //     },
      //   });
      //   app.component("custom-input", {
      //     template: `
      //     <label>
      //         {{label}}
      //         <input :type="type" v-model="inputValue"/>
      //         </label>
      //     `,
      //     props: ["label", "type", "modelValue"],
      //     computed: {
      //       inputValue: {
      //         get() {
      //           return this.modelValue;
      //         },
      //         set(value) {
      //           //   console.log("Value in setter", value);
      //           // props are readonly , so we cant update them directly so we use emit event
      //           //   this allow me to emit events that other component can listen
      //           this.$emit("update:modelValue", value);
      //         },
      //       },
      //     },
      //     // data() {
      //     //   return {
      //     //     inputValue: "",
      //     //   };
      //     // },
      //   });
      app.mount("#app");
    </script>
  </body>
</html>
